/* html {
  scroll-behavior: smooth;
} */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.header-banner {
  background: #e63946;
  background: #0000ff;

  /* background: #1d3557; */
  position: relative;
  max-height: 900px;
  /* height: 900px; */
  min-height: max-content;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  background-image: url("../../image/port-bg2.png");
  background-position: top center;
  background-blend-mode: multiply;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo {
  width: 40px;
}

.nav-bar {
  display: flex;
  gap: 20px;
  margin-left: 40px;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.nav-bar a:hover {
  color: #071b37;
}
.upload-video {
  margin: auto;
  text-align: center;
}
.upload input {
  margin: 0 auto;
  border: 2px solid #0000ff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.upload button {
  margin: auto;
  display: block;
  background-color: #0000ff;
  color: #fff;
  border: none;
  padding: 15px;
  width: 100px;
  border-radius: 5px;
}
.upload button:disabled {
  background-color: #333;
  color: #fff;
}
.banner-content-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.banner-content {
  max-width: 55%;
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.banner-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px #fff;
}
.banner-input input {
  width: 250px;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}
.banner-input label {
  display: block;
  color: #fff;
}
.banner-text {
  text-align: left;
  font-size: 18px;
  color: #fff;
}
#title {
  font-size: 5rem;
  line-height: 0.9;
  margin-bottom: 1.5rem;
  color: #fff;
}

.love {
  color: #071b37;
}

.about-me {
  max-width: 600px;
  margin-bottom: 1.5rem;
  color: #fff;
  line-height: 2;
}

.user-img-wrapper {
  width: 35%;
  /* position: absolute;
  right: -5vw;
  top: -5vw; */
  background-color: #fff;
  border-radius: 10px;
  height: 40vw;
  width: 40vw;
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
  /* background-image: url("../../images/faith-p.jpg"); */
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 90%;
}

.download-btn {
  display: block;
  max-width: fit-content;
  /* padding: 1rem; */
  padding-bottom: 5px;
  border: none;
  background: none;
  border-bottom: 2px solid white;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
  text-decoration: none;
}

.download-btn:hover {
  color: #071b37;
  border-bottom-color: #071b37;
}

.stack-section {
  background-color: #e63946;
  /* position: absolute; */
  width: 100%;
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  /* transform: translateY(220px); */
  box-shadow: 0 0 10px 10px #4d4d4d29;
  z-index: 3;
  margin: 3rem auto -9rem auto;
  border-radius: 1rem;
  color: #fff;
}

.stack-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}
.stack-section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.stack-wrapper img {
  width: 5%;
}

#react-logo {
  width: 10%;
}

@media screen and (max-width: 769px) {
  .header-banner {
    padding: 1.5rem;
  }
  .banner-content-wrapper {
    flex-direction: column;
    align-items: center;
    z-index: 1;
    flex: 1;
  }

  .banner-content {
    width: 100%;
    text-align: center;
  }

  .header-section {
    justify-content: center;
  }

  .about-me {
    max-width: 80%;
    margin: 0 auto 2rem auto;
  }
  .user-img-wrapper {
    /* position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
    z-index: 1;
    margin-top: 2rem;
    /* right: calc(-50%); */
  }

  .download-btn {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
  }

  .stack-section {
    transform: unset;
    margin-bottom: -100px;
    margin-top: 40px;
  }

  .stack-wrapper img {
    width: 7%;
  }
}

@media screen and (min-width: 1px) {
  .contact-me {
    font-size: 2rem !important;
    margin-bottom: 10px;
  }
  .work-description-left {
    grid-column: 1/6 !important;
    grid-row: 3 / 4 !important;
  }
  .work-description-right {
    grid-column: 1/6 !important;
    grid-row: 3 / 4 !important;
  }
  .work-img {
    grid-column: 1/6 !important;
  }

  .work-img:hover + .work-description-left {
    background-color: rgb(243, 243, 243);
  }

  .works-section {
    padding: 0 1rem;
    margin-top: 150px !important;
  }

  .stack-wrapper {
    flex-wrap: wrap;
  }

  .stack-section-title {
    font-size: 4.5vw;
  }
  .stack-wrapper img {
    width: 13%;
  }
  #react-logo {
    width: 15%;
  }
  .header-section {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 350px) {
  .stack-section-title {
    font-size: 1.5rem;
  }
  .stack-wrapper img {
    width: 11%;
  }

  #react-logo {
    width: 13%;
  }
}

@media screen and (min-width: 396px) {
  .stack-section-title {
    font-size: 1.6rem;
  }
  .stack-wrapper img {
    width: 50px !important;
  }

  #react-logo {
    width: 90px !important;
  }
}

@media screen and (min-width: 525px) {
  .work-description-left {
    grid-column: 1/5 !important;
    grid-row: 2 / 4 !important;
  }
  .work-description-right {
    grid-column: 2/6 !important;
    grid-row: 2 / 4 !important;
  }
  .work-description-right + .work-img {
    grid-column: 1/5 !important;
  }
  .work-description-left + .work-img {
    grid-column: 2/6 !important;
  }
}

@media screen and (min-width: 625px) {
  .work-description-left {
    grid-column: 1/4 !important;
    grid-row: 2 / 4 !important;
  }
  .work-description-right {
    grid-column: 3/6 !important;
    grid-row: 2 / 4 !important;
  }
  .work-description-right + .work-img {
    grid-column: 1/5 !important;
  }
  .work-description-left + .work-img {
    grid-column: 2/6 !important;
  }
}

@media screen and (min-width: 770px) {
  .contact-me {
    font-size: 3.5rem !important;
  }
  .header-banner {
    padding: 2rem;
  }

  #title {
    font-size: 5rem;
  }
  .about-me {
    max-width: 90%;
  }

  .stack-wrapper img {
    width: 7%;
  }

  .works-section {
    padding: 0 2rem 2rem 2rem;
  }
  .work-description-left {
    grid-column: 1/3 !important;
    grid-row: 2 / 4 !important;
  }
  .work-description-right {
    grid-column: 4/6 !important;
    grid-row: 2 / 4 !important;
  }
  .work-description-right + .work-img {
    grid-column: 1/5 !important;
  }
  .work-description-left + .work-img {
    grid-column: 2/6 !important;
  }
}

@media screen and (min-width: 815px) {
  .works-section {
    padding: 0 2rem 2rem 2rem;
  }
}

@media screen and (min-width: 740px) {
  .header-section {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 670px) {
  #title {
    font-size: 10vw;
  }
  .about-me {
    max-width: 70%;
  }
  .banner-content {
    text-align: center;
  }
}
